@import url("./fonts.scss");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
img,
svg {
  max-width: none;
  height: 100%;
}

body {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
  font-style: normal;
  background-color: #FAFAFA;
  color: #181818;
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
}
.text-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.container {
  width: 100%;
  max-width: 1316px;
  padding: 0 40px;
  margin: 0 auto;
}

.subtitle {
  font-weight: 600;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.07em;
}

.link-hover {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s linear;
}
.link-hover:hover, .link-hover:active, .link-hover:focus, .link-hover:focus-within {
  border-bottom: 1px solid #181818;
}
.swiper {
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  height: 100%;
}
.vue-slider-rail, .vue-slider-process {
  border-radius: 0 !important;
}
.vue-slider-rail {
  background-color: #EFF3F9 !important;
  height: 3px !important;
}

.vue-slider-process {
  background-color: #2740EE !important;
}

.vue-slider-dot-handle {
  border: 2px solid #2740EE !important;
}
.vue-slider-dot-handle-focus {
  box-shadow: none !important;
}
.vue-slider-dot-tooltip {
  display: none !important;
}

.reviews .swiper-slide:nth-child(even) .swiper-slide-shadow {
  background: linear-gradient(0deg, #E0EAFF, #E0EAFF), #FAFAFA;
  box-shadow: 0px 232px 93px rgba(205, 207, 210, 0.01), 0px 131px 78px rgba(205, 207, 210, 0.05), 0px 58px 58px rgba(205, 207, 210, 0.09), 0px 15px 30px rgba(180, 185, 204, 0.08), 0px 0px 0px rgba(135, 135, 135, 0.42);
}

.reviews .swiper-slide:nth-child(odd) .swiper-slide-shadow {
  background: linear-gradient(0deg, #C3D0EE, #C3D0EE), #FAFAFA;
  box-shadow: 0px 232px 93px rgba(205, 207, 210, 0.01), 0px 131px 78px rgba(205, 207, 210, 0.05), 0px 58px 58px rgba(205, 207, 210, 0.09), 0px 15px 30px rgba(180, 185, 204, 0.08), 0px 0px 0px rgba(135, 135, 135, 0.42);
}
.reviews .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.reviews .swiper-pagination-bullet-active {
  background: #2241D4;
}
.reviews .swiper-button-next,
.reviews .swiper-button-prev {
  color: #2241D4;
  height: 34px;
}
.reviews .swiper-button-next::after,
.reviews .swiper-button-prev::after {
  font-size: 30px;
}
.reviews .swiper-button-next {
  right: -150px;
}
.reviews .swiper-button-prev {
  left: -150px;
}
.reviews .swiper-horizontal>.swiper-pagination-bullets {
  bottom: -60px;
}
@media(max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
  .subtitle {
    font-size: 40px;
    line-height: 44px;
  }
  .reviews .swiper-button-next {
    right: -100px;
  }
  .reviews .swiper-button-prev {
    left: -100px;
  }
}

@media(max-width: 768px) {
  .subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .reviews .swiper-horizontal>.swiper-pagination-bullets {
    bottom: -40px;
  }
  .reviews .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .reviews .swiper-pagination-bullet-active {
    background: #808080;
  }
  .reviews .swiper-button-next::after,
  .reviews .swiper-button-prev::after {
    font-size: 20px;
  }
  .reviews .swiper-button-next,
  .reviews .swiper-button-prev,
  .reviews .swiper-slide .swiper-slide-shadow {
    display: none;
  }
}