$primary-pink: #EA3E6D;
$primary-black: #181818;
$primary-blue: #2241D4;
$primary-black-dark: #2C2C2C;
$primary-white: #FEFEFF;
$primary-grey: #8F8F8F;
$primary-blue-dark: #2A3555;
$primary-green: #23B562;
$primary-green-light: #42B28D;

$tablet_size: 1200px;
$mobile_size: 768px;
